html {
    background-color: #e9e5da;
  }
body {
   margin:0;
  }
p {
    align-self: center;
    margin-right: 10%;
}
.container {
    display: flex;
    max-height: 100vh;
    width:100vw;
    justify-content: center;
  }
  .textContainer {
  display: flex;
  align-items: center;
}
  .text {
    font-size: 3rem;
    font-family: serif;
    align-self: center;
  }