html {
    background-color: #212c36;
  }
body {
   margin:0;
  }
/* p {
    align-self: center;
    
} */
.container {
    display: flex;
    max-height: 100vw;
    align-items: center;
  }
  .text {
    font-size: 4rem;
    font-family: 'La Luxes';
    text-align: center;
    color: #AE7D56;
  }
  @font-face {
    font-family: 'La Luxes';
    src: url(Set-Sail-Studios-La-Luxes-Serif.svg) format('svg');
  }
  .image{
    max-width: 50%;
  }